{% extends 'base.j2' %}

{% block header %}
  <h1>{% block title %}Create a New Item{% endblock %}</h1>
{% endblock %}
{% block content %}
  <form method="post">
    <label for="new_item">New Item</label>
    <input name="new_item" id="new_item" required>
    <div>
      <input type="checkbox" name="in_progress" id="in_progress">
      <label for="in_progress">In Progress</label>
    </div>
    <div>
      <input type="checkbox" name="done" id="done">
      <label for="done">Done</label>
    </div>
    <input type="submit" value="Save">
  </form>
{% endblock %}