{% extends 'base.j2' %}
{% block header %}
  <h1>{% block title %}Items{% endblock %}</h1>
{% endblock %}
{% block content %}
  <div>
      <a class="action" href="{{ url_for('create')}}">Add New Item</a>
  </div>

  {% for item in items %}
    <article class="item">
      <div style="display:flex;justify-content:center;align-items:center;margin-block:auto;gap:20px;">
        <input type="checkbox" {% if item[2] %}checked{% endif %} disabled>
        <p class="body" style="{% if item[2] %}text-decoration: line-through;{% endif %}">{{ item[1] }}</p>
        <span class="status" style="
          {% if item[2] %}
            color: green;
          {% elif item[3] %}
            color: orange;
          {% else %}
            color: gray;
          {% endif %}
        ">
          {% if item[2] %}
            Done
          {% elif item[3] %}
            In Progress
          {% else %}
            To Do
          {% endif %}
        </span>
        <a style="background-color:rgb(164, 255, 240);border-radius:10px;padding:4px" class="action" href="{{ url_for('update', item_id=item[0]) }}">Update</a>
        <a style="background-color:rgb(235, 195, 18);border-radius:10px;padding:4px" class="action" href="{{ url_for('delete', item_id=item[0]) }}">Delete</a>
      </div>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
  <div style="display: flex; justify-content: space-around; margin-top: 20px;">
    <div>
      <img src="data:image/png;base64,{{ pie_chart }}" alt="Pie Chart">
    </div>
    <div>
      <img src="data:image/png;base64,{{ bar_chart }}" alt="Bar Chart">
    </div>
  </div>
{% endblock %}